header {
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 50px;
    align-items: center;
    padding: 0 30px;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.logo:hover {
    color: gold;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

#users, #photos, #posts, #albums {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
}

.user, .album, .photo, .post, .comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    width: 250px;
    border: 1px solid #000;
}

.post, .comment {
    width: 500px;
}

hr {
    width: 100%;
}

.photo {
    width: 300px;
}

.photo img {
    width: 300px;
}