<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog City!</title>

    <link rel="stylesheet" href="../assets/css/users.css">
</head>
<body>

<div class="container">

    <div class="title">
        <h1>Наши пользователи!</h1>
    </div>
    <div class="users" id="users">

    </div>
    
    <img src="../assets/image/users.jpg" class="users-image">
</div>

<script src="../assets/js/users.js"></script>
</body>

<footer>
    <div class="footer-links">
        <a href="users.html" class="page_link">Пользователи</a>
        <a href="posts.html" class="page_link">Статьи</a>
        <a href="photos.html" class="page_link">Коллекция фотографий</a>
    </div>
</footer>
</html>