@import "posts.css";
.card {
    border: 1px solid #000;
    border-radius: 1.4rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 30rem;
}

.users, .albums, .photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.user-data {
    display: grid;
    grid-template-areas:
        "user-photo user-info"
        "albums-header albums-header"
        "albums albums"
        "posts-header posts-header"
        "posts posts";
    justify-items: center;
    align-items: center;
}

.albums-header {
    grid-area: albums-header;
}

.albums-header, .posts-header {
    font-size: 2rem;
    font-weight: 700;
}

.user-photo img {
    border-radius: 1.4rem;
    grid-area: user-photo;
    margin: 1rem;
}

.user-info {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    margin: 1rem;
    grid-area: user-info;
}

.albums {
    grid-area: albums;
}

.card a, .post a {
    color: #557afc;
}